:root {
    --logo-web:  #2196F3;
    --header-logo-studio:hsl(0, 0%, 0%);
    --footer-logo-studio:#FFFFFF;
    --text-color:#212121;
    --text-color-2: #757575;
    --header-color: #ECECEC;
    --banner-background-color: #C4C4C4;
    --accent-color: #2196F3;
    --banner-text: #FFFFFF;
    --social-link-color: #F5F4FA;
    --social-link-color-2: rgba(255, 255, 255, 0.1);
    --button-hover: #188CE8;
    --footer-contacts-link:rgba(255, 255, 255, 0.6);
    --footer-addres:#FFFFFF;
    --team-background-color: #F5F4FA;
    --background-color:#FFFFFF;
    --footer-background-color: #2F303A;
    --social-icon:#AFB1B8;
    --social-icon-footer:#FFFFFF;
    --portfolio-button:  #F5F4FA;
    }
$font-family: 'Roboto', sans-serif;
$logo-font-family:'Raleway', sans-serif;
