.banner__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--banner-text);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color: var(--button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}}

.footer__button {
    width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color);
    background: var(--accent-color);
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative; 
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--footer-addres);
    &:hover, &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--button-hover);}
    @media screen and (min-width: 1200px) {
    margin-left:40px;
    }}

.portfolio__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--portfolio-button);
    cursor: pointer;
    padding: 6px 22px 6px 22px;
    border-radius: 6px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color:var(--accent-color);
    color: var(--banner-text);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);}}
                
.modal__close {
    position: absolute;
    cursor: pointer;
    top:8px;
    right:8px;
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--accent-color);}}

.close-icon {
    fill: currentColor;}                
.modal__button {
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--banner-text);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 10px 52px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    background-color: var(--button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}}

.mobile__button {
display: inline-flex;
border: none;
background-color: transparent;
margin-left: 276px;
padding-top: 10px;
padding-bottom: 10px;
@media screen and (min-width: 768px) {
    display: none;}
@media screen and (min-width: 1200px) {
    display: none;}}

.mobile__close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    // position: absolute;  
    // top: 10px;
    // right: 15px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
        color: var(--accent-color);}
}
