.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;}
  .modal-backdrop.is-hidden .modal {
    transform: rotate(-180deg);}

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
    @media screen and (min-width: 480px) {
        width: 450px;}
    @media screen and (min-width: 768px) {
        width: 450px;}
    @media screen and (min-width: 1200px) {
        width: 528px;}}

.modal__name {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;}
.modal__label {  
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color-2);}
.modal__line {
    margin-bottom: 10px;}
.modal__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    width: 100%;
    height: 40px;  
    display: block;
    padding: 11px;  
    padding-left: 40px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        border-radius: 4px;
        border: 1px solid var(--accent-color);}
        &::placeholder {
            font-family: inherit;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);}}
.modal__coment {
    height: 120px;
    padding: 12px 16px;
    resize: none;}

.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
    fill: var(--accent-color);}


.modal__wrapper {
    position: relative;   
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal__textarea {
    margin-bottom: 20px;
    margin-top: 4px; }

.modal__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill:#212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal__checkbox, .modal__link {
    font-size: 12px;

    font-family: inherit;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    @media screen and (min-width: 768px) {
        font-size: 12px;}
    @media screen and (min-width: 1200px) {
        font-size: 14px;}}
.modal__checkbox {
    color: var(--text-color-2);
    display: flex;
    align-items: center;
    justify-content: center;}
.modal__link {
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 10px;}

.modal__agreement {
    margin-bottom: 30px;}
.modal__checkbox .modal__mark {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;}
.modal__checkbox .checkbox-icon {
    fill: transparent;}
.modal__agreement input:checked + .modal__checkbox .modal__mark {
    border: none;
    background-color: var(--accent-color);}
.modal__agreement input:checked + .modal__checkbox .checkbox-icon {
   fill: var(--banner-text);}