.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;}

.footer__tablet {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;}
}
.footer .container {
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;}
    }
    .footer__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        display: inline-block;
        align-items: baseline;
        margin-left: 60px;}
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: start;
        margin-left: 0px;
        margin-right: 70px;
        margin-bottom: 0px;
    }
}
address {
        margin-top: 20px;}
.footer__item {
    &:not(:last-child) {
        margin-bottom: 9px;}
    @media screen and (min-width: 1200px) {
        width: 231px;}}

.footer__contacts {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
}

.footer__addres{
    // margin-right: 70px;
    color: var(--footer-addres);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color:var(--accent-color)}
        }
.footer__mail {
    color: var(--footer-contacts-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    color:var(--accent-color)}}

.footer__tel {
    color: var(--footer-contacts-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    color:var(--accent-color)}}

.footer__social {
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-left: 165px;
        margin-bottom: 0px;
        position: absolute;}
        @media screen and (min-width: 1200px) {
            position: unset;
            display: flex;
            margin-right: 93px;
            margin-left: 0px;
        }}
.social-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-addres);
    margin-bottom: 20px;}
.footer__media {
    @include flexCenter(flex, center,center);}
.footer__element {
    background:var(--social-link-color-2);
    border-radius: 50%;
    &:not(:first-child) {
    margin-left: 10px;}}
.footer__link {
    width: 44px;
    height: 44px;
    fill: var(--social-icon-footer);
    @include flexCenter(flex, center,center);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    &:hover, &:focus {
    background-color: var(--accent-color);}}
    
.footer__mailing {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        margin-right: auto;}
}
.mailing-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-addres);
    margin-bottom: 20px;
text-align: center;}
.email-input {
display: block;

    @media screen and (min-width: 1200px) {
    display: flex;}}
.mailing-input {
    width: 358px;
    height: 50px;
    background-color: var(--footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    // margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    color: var(--footer-addres);
    &:focus {
    border: 1px solid var(--accent-color);}}
.mailing-icon {
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    fill: #FFFFFF;
    position: absolute;
    margin-left: 10px;}