.header {
    border-bottom: 1px solid var(--header-color);}
.header__container {
    display: flex;
    align-items: center;}
.header__nav {
    display: flex;
    align-items: center;} 
.link.current {
    color: var(--accent-color);}

.studio-nav::after {
    content: " ";
    display: block;
    position: absolute;
    width: 48px;
    height: 4px;
    margin-top: 30px;
    border-radius:2px;
    background-color: var(--accent-color);}
.portfolio-nav::after {
    content: " ";
    display: block;
    position: absolute;
    width: 78px;
    height: 4px;
    margin-top: 28px;
    border-radius:2px;
    background-color: var(--accent-color);}

.header__list  {
    display: flex;
    align-items: center;
    margin: 0px 0px;
    margin-left: auto;}
.header__item:not(:first-child) {
    margin-left: 50px;}
.header__contacts:not(:first-child) {
    margin-left: 50px;}
.header__link {
    font-weight: 500;   
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color:var(--accent-color);}}
.link-mail {
    color: var(--text-color-2);}
.link-tel {
    color: var(--text-color-2);}
    
.header__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill:currentColor;}
.header__tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill:currentColor;}
.header__contacts {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;}

