.header {
    border-bottom: 1px solid var(--header-color);}
.header__container {
    display: flex;
    align-items: center;}
.header__nav {
    display: flex;
    align-items: center;}
.header__hiden {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;}
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;} }
        
.link.current {
    color: var(--accent-color);}

.studio-nav::after {
    content: " ";
    display: block;
    position: absolute;
    width: 48px;
    height: 4px;
    margin-top: 28px;
    border-radius:2px;
    background-color: var(--accent-color);
    // @media screen and (min-width: 1200px) {
    // margin-top: 28px; 
    // }
}
.portfolio-nav::after {
    content: " ";
    display: block;
    position: absolute;
    width: 78px;
    height: 4px;
    margin-top: 28px;
    border-radius:2px;
    background-color: var(--accent-color);}

.header__list  {
    display: flex;
    align-items: center;
    margin: 0px 0px;
    margin-left: auto;}

.header__list-info {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 96px;}
    @media screen and (min-width: 1200px) {
        margin-left: 324px;  }}
.header__item:not(:first-child) {
    margin-left: 50px;}
.header__contacts {
&:not(:first-child) {
    margin-left: 50px;
@media screen and (min-width: 768px) {
        margin-left: 0px;}}}
.header__link {
    font-weight: 500;   
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color:var(--accent-color);}
    
    @media screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px; }
    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;}}

.link-mail {
    color: var(--text-color-2);
    @media screen and (min-width: 768px) {
        padding-top: 17.35px; 
        padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: 12px;}
    @media screen and (min-width: 1200px) {
        padding-top: 30.05px; 
        padding-bottom: 30.05px;
        margin-bottom: 0px;
        margin-right: 30px;
        font-size: 14px;}
    }
.link-tel {
    color: var(--text-color-2);
    @media screen and (min-width: 768px) {
        padding-bottom: 17.35px;  
        padding-top: 0px;
        font-size: 12px;}
        @media screen and (min-width: 1200px) {
        padding-bottom: 30.05px; 
        padding-top: 30.05px;
        font-size: 14px;}}
    
.header__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill:currentColor;}
.header__tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill:currentColor;}
.header__contacts {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;}
    

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    overflow-y: auto;
    z-index: 1;
    background-color: var(--background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &.is-open {
      transform: translateX(0);}}
.mobile__modal {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 40px;
    padding-bottom: 48px;
    max-width: 480px;
    margin: 0 auto;}
.mobile__nav {
    margin-bottom: 302px;
}
.mobile-nav__link {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.mobile-nav__item {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;}
.nav__link {
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color:var(--accent-color);}}
.mobile-address__list{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    letter-spacing: 0.02em;
    width: 100%;
    gap: 32px;
}
.mobile-address__link--tel {
    font-size: 34px;
    line-height: calc(40/34);
    color: var(--accent-color);}
.mobile-address__link--mail {
    font-size: 24px;
    line-height: calc(28/24);
    color: var(--text-color-2);}
.mobile-socials__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 64px;}

.mobile-socials__item {
  position: relative;}

.mobile-socials__item:not(:last-child)::after {
  content: "";
    position: absolute;
    width: 22px;
    height: 1px;
    border-radius: 2px;
    left: 100%;
    bottom: 50%;
    transform: translate(-50% -50%);
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);}

.mobile-socials__link {
    font-weight: 500;
    line-height: calc(24/18);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (max-width: (480px - 1px)) {
      font-size: 3.75vw;}
    @media screen and (min-width: 480px) {
           font-size: 18px;}}
