.logo {
    font-size: 24px;
    line-height: 1.17;
    
    font-family: $logo-font-family;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.17;}
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;}
}
.logo__top {
    max-width: 134px;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px) {
        max-width: 134px;
        padding-top: 0px;
        padding-bottom: 0px;}
    @media screen and (min-width: 1200px) {
        max-width: 145px;
        padding-top: 0px;
        padding-bottom: 0px;}}
.logo_bottom {
    max-width: 154px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        max-width: 154px;
        margin-left: 0px;
        margin-right: 0px;}
    @media screen and (min-width: 1200px) {
        max-width: 145px;}}
.logo__web {
    color: var(--logo-web);}
.logo__header{
    color: var(--header-logo-studio);
    margin-right: 93px;}
.logo__footer {
    color: var(--footer-logo-studio)}
