.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;}
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;}}
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;}
    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;}
}
.portfolio__item:not(:first-child)  {
    margin-left: 8px;
    &:nth-child(3){
    margin-right: 80px;  }
    &:nth-child(4){
    margin-left: 0px; 
    margin-top: 15px; }
    &:nth-child(5){
    margin-top: 15px; }
    @media screen and (min-width: 768px){
    &:nth-child(3){
    margin-right: 0px;  }
    &:nth-child(4){
    margin-left: 8px; 
    margin-top: 0px; }
    &:nth-child(5){
    margin-top: 0px; } }
}
.portfolio__project {
    display: block;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;}
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;}}
.portfolio__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);}}
.portfolio__design {
max-width: 450px;
list-style: none;
&:not(:last-child){
margin-bottom: 30px;}
@media screen and (min-width: 768px) {
max-width: 354px;
&:nth-child(1) {
    margin-right: 30px;
    margin-left: 0px;}
&:nth-child(2) {
    margin-right: 0px;
    margin-left: 0px;}
&:nth-child(3) {
    margin-right: 30px;
    margin-left: 0px;}
&:nth-child(4) {
    margin-right: 0px;
    margin-left: 0px;}
&:nth-child(5) {
    margin-right: 30px;
    margin-left: 0px;}
&:nth-child(6) {
    margin-right: 0px;
    margin-left: 0px;}
&:nth-child(7) {
    margin-right: 30px;
    margin-left: 0px;}
&:nth-child(8) {
    margin-right: 0px;
    margin-left: 0px;}}
@media screen and (min-width: 1200px){
max-width: 370px;
&:nth-child(2) {
    margin-right: 30px;
    margin-left: 0px;}
&:nth-child(3) {
    margin-right: 0px;
    margin-left: 0px;}
&:nth-child(5) {
    margin-right: 30px;
    margin-left: 30px;}
&:nth-child(8) {
    margin-right: 30px;
    margin-left: 0px;}
&:nth-child(6) {
    margin-top: 30px;
    margin-bottom: 30px;}
&:nth-child(4) {
    margin-top: 30px;
    margin-bottom: 30px;}
&:nth-child(5) {
    margin-top: 30px;
    margin-bottom: 30px;}}
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;}
.portfolio__type {
    color: var(--text-color-2);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;}
.portfolio__about {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;}
.portfolio__about-1 {
    @media screen and (min-width: 768px) {
        padding-bottom: 57px;}
    @media screen and (min-width: 1200px) {
        padding-bottom: 20px;}    
    }

.portfolio__box {
    position: relative;
    overflow: hidden;}
.portfolio__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 101%;
    background-color: rgba(33, 150, 243, 0.9);
    transition-property: transform;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio__overlay > p {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--banner-text);
    padding: 63px 24px;}

.portfolio__link:hover .portfolio__overlay {
    transform: translateY(0);}