.team {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;}
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;}

    background-color:var(--team-background-color);      
    }
.team__members {
    display: block;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;}
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-start;}
    }
.team__list {
margin-bottom: 30px;
    &:nth-child(4) {
        margin-bottom: 0px;}
max-width: 450px;

    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border-radius: 5px;
    text-align: center;
    flood-color: rgba(202, 112, 112, 0.547);
    
    @media screen and (min-width: 768px) {
        margin-left: 30px;
            &:nth-child(1) {
                margin-left: 0px;}
            &:nth-child(3) {
                margin-left: 0px;}
        margin-bottom: 30px;
            &:nth-child(3) {
                margin-bottom: 0px;}
            &:nth-child(4) {
                margin-bottom: 0px;}
        max-width: 354px;}
    @media screen and (min-width: 1200px) {
        margin-left: 30px;
            &:first-child {
                margin-left: 0px;}
            &:nth-child(3) {
                margin-left: 30px;}
            margin-bottom: 0px;  
        max-width: 270px;}}
.team__photo {
    border-radius: 2px;}
.team__about {
    padding-top: 30px;
    padding-bottom: 30px;}
.team__name {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;}
.team__position {
    color: var(--text-color-2);
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--text-color-2);
    margin-top: 10px;
    margin-bottom: 16px;}
.team__social{
    display: flex;
    justify-content: center;
.team__icon:not(:last-child) {
    margin-right: 10px;}
.social-link{
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    @include flexCenter(flex, center,center);
    color: var(--social-icon);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
        background-color: var(--accent-color);
        border-radius: 50%;
        color: var(--social-link-color);}}
.social-icon{
    fill: currentColor;}}

